.list {
    width: 100%;
    max-width: 360px;
    border-radius: 2px;
    border: 1px solid black;
    background-color: #111111;
    color: white;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.listItem:hover {
    background-color: #0f1c20;
    cursor: pointer;
}